
# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment variables
.env.playwright.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store

